/node_modules
/.pnp
.pnp.js
**/index.css

/coverage

/build

.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

cypress/videos
cypress/screenshots
.nyc_output


# For Now
package-lock.json
yarn.lock