.InputField {
    display: flex;
    padding: 20px;
    height: 50px;
    justify-content: center;
    align-items: center;
    
    > span {
        display: flex;
        justify-content: center;
        align-items: center;
        height: inherit;
        flex: 1;
    }
    
    > input {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        flex: 1;
        padding: 10px;
    }
}