.Table {
  display: flex;
  flex-direction: column; }
  .Table > .Header {
    font-weight: bold;
    display: flex;
    padding: 10px; }
    .Table > .Header > .Column {
      padding: 10px;
      flex: 1; }
  .Table > .Body {
    padding: 10px;
    display: flex;
    flex-direction: column; }
    .Table > .Body > .Row {
      flex: 1;
      display: flex; }
      .Table > .Body > .Row > .Cell {
        padding: 10px;
        flex: 1; }
      .Table > .Body > .Row:hover {
        cursor: pointer;
        background-color: greenyellow; }
